# Build requirements

# To allow static build / upload
ghp-import

# Notebook etc requirements
-r requirements.txt

# To escape URL for older JupyterHub
git+https://github.com/matthew-brett/sphinx-book-theme.git@escape-colon
